# ===============================
# PYTHON
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
.envrc

# ===============================
# IDE / EDITORS
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# SYSTEM FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# LOGS
# ===============================
*.log

# ===============================
# DVC CACHE (DO NOT PUSH)
# ===============================
.dvc/cache/

# ===============================
# MLFLOW
# ===============================
mlruns/
mlflow.db

# ===============================
# MODELS (optional)
# keep if using DVC for models
# ===============================
models/model.pt

# ===============================
# PYTEST
# ===============================
.pytest_cache/

# ===============================
# NOTEBOOKS
# ===============================
.ipynb_checkpoints/

# ===============================
# DOCKER
# ===============================
*.tar

# ===============================
# BUILD ARTIFACTS
# ===============================
build/
dist/
*.egg-info/
